In [ ]:
# 001 Task - What is the result of 5 + 3?

In [1]:
res = 5+3
print(res)

8

In [ ]:
# 002 Task - Evaluate the expression 10 - 4.

In [2]:
a = 10-4
print(a)

6

In [ ]:
# 003 Task - Calculate the value of 6 * 7.

In [3]:
a = 6*7
print(a)

42

In [ ]:
# 004 Task - Compute the result of 15 / 3.

In [4]:
res = 15/3
print(res)

5.0

In [ ]:
# 005 Task - What is the output of 10 // 3?

In [5]:
res = 10//3
print(res)

3

In [ ]:
# 006 Task - Calculate the remainder of 12 % 5.

In [7]:
b = 12 % 5
print(b)

2

In [ ]:
# 007 Task - Evaluate 2 ** 4 (2 raised to the power of 4).

In [8]:
a = 2**4
print(a)

16

In [ ]:
# 008 Task - Given x = 5 and y = 3, what is the value of x + y * 2?

In [9]:
x = 5
y = 3
res =x + y *2
print(res)

11

In [ ]:
#009 Task - Evaluate the expression: 7 > 5.

In [10]:
a = 7 > 5
print(a)

True

In [ ]:
#010 Task - Is the statement 10 < 5 true or false?

In [11]:
a = 10 < 5
print(a)

False

In [ ]:
#011 Task - Determine the result of 8 >= 8.

In [12]:
res = 8 >= 8
print(res)

True

In [ ]:
#012 Task - Check if 6 == 6.

In [13]:
a = 6 == 6
print(a)

True

In [ ]:
#013 Task - Is the statement 3 != 3 true or false?

In [14]:
a = 3 != 3
print(a)

False

In [ ]:
#014 Task - Given x = 10 and y = 5, is x > y or x < y?

In [15]:
x = 10
y = 5
res = x > y or x < y
print(res)

True

In [ ]:
#015 Task - Determine the output of "hello" == "Hello".

In [16]:
res = "hello" == "Hello"
print(a)

False

In [ ]:
#016 Task - What is the result of True and False?

In [17]:
res = True and False
print(res)

False

In [ ]:
#017 Task - Evaluate the expression: True or False.

In [18]:
res = True or False
print(res)

True

In [ ]:
#018 Task - Determine the value of not True

In [19]:
a = not True
print(a)

False

In [ ]:
#019 Task -  Is 10 > 5 and 5 < 2 true or false?

In [20]:
res = 10 > 5 and 5 < 2
print(res)

False

In [ ]:
#020 Task - Check if (3 == 3) or (4 != 4).

In [21]:
res = (3 == 3) or (4 != 4)
print(res)

True

In [ ]:
#021 Task - Assign the value 10 to a variable 'x'.

In [22]:
x = 10
print(x)

10

In [ ]:
#022 Task - Increment the variable 'x' by 3.

In [29]:
x = 10
res = x + 3
print(res)

13

In [34]:
#023 Task - Subtract 5 from the variable 'x'.

In [30]:
x = 10
res = x - 5
print(res)

5

In [ ]:
#024 Task - Multiply the variable 'x' by 2.

In [31]:
x = 10
res = x * 2
print(res)

20

In [ ]:
#025 Task - Divide the variable 'x' by 4.

In [33]:
x = 48
res = x / 4
print(res)

12.0

In [ ]:
#026 Task - Calculate the modulus of 'x' with 3.

In [36]:
x = 47
res = x % 3
print(res)

2

In [ ]:
#027 Task - Perform an exponentiation operation on 'x' with 2.

In [37]:
x = 8
res = x** 2
print(res)

64

In [ ]:
#034 Task - Check if the element 3 is present in the list [1, 2, 3, 4, 5].

In [1]:
a = [1,2,3,4,5]
res = 3 in a
print(res)

True

In [ ]:
#035 Task - Determine if the character 'a' exists in the string "hello".

In [14]:
name = " Hello "
res1 = a in name
print(res)

False

In [15]:
#036 Task - Check if the key 'age' is present in the dictionary {'name': 'John', 'age': 30}.

In [19]:
a = {'name': 'John', 'age': 30}
print(a['age'])

30

In [ ]:
#039 Task - Evaluate the expression: 5 + 3 * 2

In [38]:
ping = 5 + 3 * 2
print(ping)

11

In [ ]:
#040 Task - Calculate the value of (10 + 3) * 2.

In [39]:
m = (10 + 3) * 2
print(m)

26

In [ ]:
#041 Task - What is the result of 10 + 3 / 2?

In [40]:
n = 10 + 3 / 2
print(n)

11.5

In [ ]:
#042 Task - Determine the output of 8 - 4 + 2.

In [41]:
o = 8 - 4 + 2
print(o)

6

In [ ]:
#043 Task - Check if 10 is between 5 and 15

In [21]:
r = range(5,15)
10 in r

True

In [ ]:
#044 Task - Determine if a number is positive and even.

In [32]:
for i in range(1,21):
    if i%2==0:
        print(i ,"=","Even Number")
    else :
         print(i,"=","Odd Number")

1 = Odd Number
2 = Even Number
3 = Odd Number
4 = Even Number
5 = Odd Number
6 = Even Number
7 = Odd Number
8 = Even Number
9 = Odd Number
10 = Even Number
11 = Odd Number
12 = Even Number
13 = Odd Number
14 = Even Number
15 = Odd Number
16 = Even Number
17 = Odd Number
18 = Even Number
19 = Odd Number
20 = Even Number

In [ ]:
#045 Task - Check if a character is a lowercase letter and not a vowel

In [58]:
name = "ANkcnhjmlkfjdASGOUE"
for i in name :
    if i.islower() :
        print(i,"is lower case")
        if (i == "a" or i=="e" or i=="i" or i=="o" or i=="u") :
            print(i, "is vowel and also lower case" )

k is lower case
c is lower case
n is lower case
h is lower case
j is lower case
m is lower case
l is lower case
k is lower case
f is lower case
j is lower case
d is lower case

In [ ]:
#050 Task -Write a Python program that takes two numbers as input and prints their sum if both numbers are positive, otherwise prints "Invalid input."

In [11]:
num1=int(input("Enter the first number "))
num2=int(input("Enter the second number "))

res=num1+num2

if num1>=0 and num2>=0:
    print(num1," + ",num2," = " ,res)
else : 
    print("Invalid input")

Enter the first number -2
Enter the second number -9
Invalid input

In [ ]:
#047 Task - Use the ternary operator to assign the value 10 to 'x' if 'y' is True, otherwise assign 5

In [1]:
y = True
x = 10 if y else 5
print(x)

10

In [ ]:
#048 Task - Discuss the precedence of arithmetic, comparison, and logical operators

In [ ]:
#Arithmetic operators take precedence over logical operators. 
#Python will always evaluate the arithmetic operators first (** is highest, then multiplication/division, then addition/subtraction). Next comes the relational/comparision operators. 
#Finally, the logical operators are done last.

In [ ]:
#049 Task - Explain the concept of operator overloading in Python with an example.

In [ ]:
#Operator Overloading means giving extended meaning beyond their predefined operational meaning. 
#For example operator + is used to add two integers as well as join two strings and merge two lists. 
#It is achievable because ‘+’ operator is overloaded by int class and str class

In [1]:
print(1+2)
print(3*4)
print("Manju"+"nath")
print("Manju"*4)

3
12
Manjunath
ManjuManjuManjuManju